# Task配置


# > 每日一句+ 蚂蚁森林收能量
cron "30 7 * * *" script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/yichahucha/cron_daily.js,tag=每日一句+蚂蚁森林收能量

# 签到脚本
# > 京东
cron "1,5 0 * * *" script-path=https://raw.githubusercontent.com/NobyDa/Script/master/JD-DailyBonus/JD_DailyBonus.js,tag=京东商城

# > 中国联通
cron "3 0 * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/10010/10010.js,tag=中国联通

# > 人人视频
cron "10 0 * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/rrtv/rrtv.js,tag=人人视频

# > 懂球帝
cron "7 0 * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/dongqiudi/dongqiudi.js, tag=懂球帝

# > 趣头条
cron "*/30 * * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/qtt/qtt.js,tag=趣头条

# > 米读

cron "12 0 * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/midu/miduSign.js, tag=米读签到
cron "*/1 * * * *" script-path=https://raw.githubusercontent.com/chavyleung/scripts/master/midu/miduRead.js, tag=米读阅读时长

